<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <title> Dashboard | {{title}} </title>
      <link href="/static/css/dashboard.css" type="text/css" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    {% endblock %}
  </head>
  <body>
    {% block body %}
      
    {% endblock %}
  </body>
</html>
