{% extends "dashboard/layout.twig" %}

{% block body %}

  <div class="log-container">
    <form class="login-box">
      <h1> Esegui il login </h1>
      <input type="text" placeholder="Username" id="username">
      <input type="password" placeholder="Password" id="password">
      <button value="send"><span>Accedi</span></button>
    </form>
  </div>

{% endblock %}
