<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/js/visible.js"></script>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="navbar">
      <ul>
        <a href="/"><li> Home </li></a>
        <a href="/project"><li> Il Progetto </li></a>
        <a href="/register"><li> Registrati </li></a>
      </ul>
    </div>
    {% block body %}
    {% endblock %}

  </body>
</html>
