{% extends "layouts/default_page.twig" %}
{% block head %}
{% endblock %}
{% block body %}
  <div class="section main">
    <video loop muted autoplay poster="/static/img/bg.jpg" class="inner-video">
        <source src="/static/vid/bg.webm" type="video/webm">
    </video>
    <h1 class="title">Mountain Wilderness</h1>
    <h2 class="subtitle"> Un progetto ITIS Fermi </h2>
  </div>
  <div class="section full flexed opaque" style="background: url(/static/img/sample.png)">
    <div class="box near">
      <h1> Lorem Ipsum </h1>
      <p class="medium">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultricies sapien a semper rhoncus. Morbi ullamcorper porttitor augue, quis tincidunt eros mattis id. Sed suscipit risus non neque feugiat laoreet. Mauris suscipit nisl eget neque ultrices porta. Suspendisse non dui metus. Quisque eget congue turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc porttitor dui nec mi dignissim, at placerat enim tempor. Integer lectus odio, egestas semper augue ut, consequat egestas velit. Curabitur elit ex, vulputate eleifend dui varius, dictum consequat lectus. Nunc pellentesque nec ligula in aliquam. Curabitur a faucibus ipsum. Sed posuere tellus rutrum, eleifend purus vel, dignissim turpis.
      </p>
    </div>
    <div class="full white">
      <div class="inner">
        <div class="container">
          <h1> 400 </h1>
          <h2> Segnalazioni Ricevute</h2>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
