{% extends "layouts/default_page.twig" %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/static/js/visible.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link href="/static/css/openmap.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
  <script src="https://unpkg.com/esri-leaflet@2.2.3/dist/esri-leaflet.js" integrity="sha512-YZ6b5bXRVwipfqul5krehD9qlbJzc6KOGXYsDjU9HHXW2gK57xmWl2gU6nAegiErAqFXhygKIsWPKbjLPXVb2g==" crossorigin=""></script>
{% endblock %}
{% block body %}
<div class="navbar">
      <ul>
        <li><span id="toggle-btn" onclick="openNav()">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </span></li>
        <a><li> Home </li></a>
        <a><li> Il Progetto </li></a>
        <a><li> Registrati </li></a>
      </ul>
    </div>
  <div class="sider" id="mySider">
    <div class="content">
      <h1> Filtri </h1>
      <form id="search">
        <input type="text" class="fancy" id="query" placeholder="Cerca località">
        <button class="fancy" value="send"> Cerca </button>
      </form>
      <h3> Filtra per: </h3>
      <button class="regione">Open Collapsible</button>
      <div class="box">
        <div class="item"> Valle d'Aosta </div>
        <div class="item"> Piemonte </div>
        <div class="item"> Trentino </div>
        <div class="item"> Lombardia </div>
        <div class="item"> Friuli </div>
        <div class="item"> Veneto </div>
        <div class="item"> Liguria </div>
        <div class="item"> Emilia Romagna </div>
        <div class="item"> Marche </div>
        <div class="item"> Umbria </div>
        <div class="item"> Toscana </div>
        <div class="item"> Abruzzo </div>
        <div class="item"> Lazio </div>
        <div class="item"> Campania </div>
        <div class="item"> Basilicata </div>
        <div class="item"> Calabria </div>
        <div class="item"> Puglia </div>
        <div class="item"> Molise </div>
        <div class="item"> Sicilia </div>
        <div class="item"> Sardegna </div>
      </div>
    </div>
  </div>
  <div id="map"></div>
  <div id="basemaps-wrapper" class="leaflet-bar">
  <select name="basemaps" id="basemaps" onChange="changeBasemap(basemaps)">
    <option value="OpenStreetMap">OpenStreet</option>
    <option value="Topographic">Topografica</option>
    <option value="Streets">Streets</option>
    <option value="NationalGeographic">National Geographic</option>
    <option value="Oceans">Marina</option>
    <option value="Gray">Muta</option>
    <option value="Imagery">Satellite</option>
    <option value="ImageryFirefly">Satellite (Alternativa)</option>
    <option value="ShadedRelief">Fisica</option>
    <option value="Physical">Fisica Muta</option>
  </select>
</div>
  <script src="/static/js/map.js"></script>
  <script>
    function togglebtn() {
      $("#toggle-btn")[0].classList.toggle("change");
    }
    function openNav() {
        $("#mySider")[0].classList.toggle("transition")
        togglebtn();
    }
  </script>
  <script>
    $(".item").click((e) => {

      if(!$(e.currentTarget).hasClass("selected"))
        $(e.currentTarget).css({color: "white", background: "#212121"}).addClass("selected")
      else
        $(e.currentTarget).css({color: "#212121", background: "none"}).removeClass("selected")

    })
  </script>
{% endblock %}
